.ml-auto{
    left: auto !important;
    right: 0px;
    font-family: 'Times New Roman', Times, serif;
}
.nav-item a:hover{
    background-color: grey;
}
#Mydetails{
    color: darkblue;
}

.content{
    background-color: rgb(235, 243, 247);
    padding: 50px;
    margin: 10px;
    box-shadow:  10px 10px 5px rgb(196, 195, 195);
}

