form{
    color: black;
    width: 70%;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: bold;
    padding: 20px;
    margin: 0 auto;
}
.ml-auto{
    left: auto !important;
    right: 0px;
}
.nav-item a:hover{
    background-color: grey;
}
.content{
    background-color: rgb(235, 243, 247);
    margin: 20px;
    box-shadow:  10px 10px 5px rgb(196, 195, 195);
}