body{
    background-image: url(Images/background.png);
    background-size: cover;
    color: black;
    margin: 0 auto;
    width: 50%;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: bold;
    padding: 10px;
}
h1{
    text-align: center;
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
}
